
<div class="form-inline" align="center">
        <label>
           <input type="radio" ng-model="eventoData.tipo" value="Empresarial"/>
           Empresarial
        </label>
    &nbsp
        <label>
            <input type="radio" ng-model="eventoData.tipo" value="Casamento"/>
            Casamento
        </label>
    &nbsp
        <label>
            <input type="radio" ng-model="eventoData.tipo" value="Aniversário"/>
            Aniversário
        </label>
</div>
<label> Data e horario</label>
<div class="form-inline">
    <div class="form-group">
        <input type="date" id="dataEvento" class="form-control" name="data" ng-model="eventoData.data">
    </div>
    &nbsp
    <div class="form-group">
        <input type="time" id="horarioEvento" class="form-control" name="horario" ng-model="eventoData.horario">
    </div>
</div>

<br>

<div class="form-group">
    <label for="local">Local de evento: </label>
    <input type="text" id="localEvento" class="form-control" name="local" ng-model="eventoData.local" placeholder="characa artesanal">
    <label for="end">Endereço: </label>
    <input type="text" id="endEvento" class="form-control" name="end" placeholder="rua exemplo">
</div>
<br>
<div class="form-inline">
    <div class="form-group">
        <input type="number" id="qtdEvento" class="form-control" name="qtd" ng-model="eventoData.qtd" placeholder="Nº de convidados">
    </div>
    &nbsp
    <div class="form-group">
        <input type="number" id="duracaoEvento" class="form-control" name="duracao" ng-model="eventoData.duracao" placeholder="Duração">
    </div>
</div>
<br>



<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.cardapio" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>