<label>Bebidas</label>
<div class="form-group">
    <label>Cerveja</label>
    <input type="text" id="cervejaCardapio" class="form-control" name="cerveja" ng-model="cardapioData.cerveja" placeholder="Skol">
</div>
<label>Agua</label>
<div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox"  ng-model="cardapioData.agua" value="com gás"/>
            Com Gás
        </label>

    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="cardapioData.agua" value="sem gás" placeholder="Sem Gás"/>
            Sem Gás
        </label>
    </div>
</div>
<div class="form-group">
    <label>Suco natura</label>
    <input type="text" class="form-control" ng-model="cardapioData.suco" value="suco">
</div>
<div class="form-group">
    <label>Entradas</label>
    <input type="text" class="form-control" ng-model="cardapioData.entradas" value="entrada">
</div><div class="form-group">
    <label>Grelhadinho ou salada</label>
    <input type="text" class="form-control" ng-model="cardapioData.grelahadoSalada" value="grelahadoSalada">
</div>
<label>Seriviço Quente</label>
<br>
<div class="form-group">
    <label>Assados</label>
    <input type="text" class="form-control" ng-model="cardapioData.assados" value="assados">
</div>
<div class="form-group">
    <label>Fritos</label>
    <input type="text" class="form-control" ng-model="cardapioData.fritos" value="fritos">
</div>

<label>Menu Degustação</label>
<div class="form-group">
    <label>Comidinha</label>
    <input type="text" class="form-control" ng-model="cardapioData.comidinha" value="comidinha">
</div>

<label>Bolo ou Sobremesa</label>
<div class="form-group">
    <label>Bolo</label>
    <input type="text" class="form-control" ng-model="cardapioData.comidinha" value="comidinha">
</div>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.payment" class="btn btn-block btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>