*{
  margin:0;
  padding: 0;
}

ul{
  list-style-type: none;
  width: 15%;
  position: fixed;
  height: 100%;
  line-height: 60px;
  background-color: #28415b;
}

ul li{
  display: block;
  width: 100%;
}

ul li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

