<nav *ngIf="authService.loggedIn()">
  <ul>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" [routerLink]="['/contratos']">Contratos</a>
    </li>

    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" [routerLink]="['/caixa']">Caixa</a>
    </li>

    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link" [routerLink]="['/eventos']">Eventos</a>
    </li>
    <li><a href="#">home</a> </li>
    <li><a href="#">home</a> </li>
    <li><a href="#">home</a> </li>
    <li><a href="#">home</a> </li>
    <li><a href="#">home</a> </li>
  </ul>
</nav>
