<nav *ngIf="authService.loggedIn()">

      <div class="btn-group-vertical boxl">
        <button type="button" class="btn btn-primary btn-lg"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
                [routerLink]="['/contratos']">Contratos</button>

        <button type="button" class="btn btn-primary btn-lg"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
                [routerLink]="['/caixa']">Caixa</button>

        <button type="button" class="btn btn-primary btn-lg"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}"
                [routerLink]="['/eventos']">Eventos</button>
      </div>

</nav>
