*{
  margin:0;
  padding: 0;
}


ul li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
}

nav{
  list-style-type: none;
  width: 15%;
  position: fixed;
  height: 100%;
  line-height: 60px;
  background-color: #158CBA;
}

div{
  display: block;
  width: 100%;
}
button{
  height: 60px;
}
