<div class="container" >
  <div class="row">
      <div class="card border-primary mb-3"
           id="cards"
           style="max-width: 20rem;min-width: 20rem; margin-right: 2%; margin-left: 1%;"
           *ngFor="let contrato of contratos"
           routerLink="/detail/{{contrato._id}}">
        <div class="card-header"><h1>{{contrato.name}}</h1></div>
        <div class="card-body text-primary">
          <h4 class="card-title">{{contrato.dEvento}}</h4>
          <p class="card-text">
            {{contrato.email}}<br>
            {{contrato.espaco}}<br>
            {{contrato.duracao}}<br>
            {{contrato.tipo}}<br>
            {{contrato.convidados}}
            {{contrato._id}}

          </p>
        </div>

      </div>
  </div>
</div>

<router-outlet></router-outlet>
