
<div *ngIf="contrato" class="jumbotron">
  <h1 class="page-header">Hello, {{contrato.name}}!</h1>
</div>


<div class="container" >
  <div class="row">
      <div class="card border-primary mb-3" style="max-width: 20rem; margin-right: 2%; margin-left: 1%;" *ngFor="let contrato of contratos">
        <div class="card-header">{{contrato.tipo}}</div>
        <div class="card-body text-primary">
          <h4 class="card-title">Arroz</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
  </div>
</div>

